# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# ENV
# ======================
.env
.env.*
!.env.example

# ======================
# NODE (Frontend)
# ======================
node_modules/
dist/
build/
.vite/

# ======================
# JAVA (Backend)
# ======================
target/
*.log
*.class
application-dev.yml

# ======================
# PYTHON (AI service)
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ======================
# IDE
# ======================
.vscode/
.idea/
*.iml

# ======================
# DOCKER
# ======================
*.tar
docker-data/

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# TEMP
# ======================
tmp/
temp/